{% extends "base.html" %}

{% block body %}


    <div class="container">
        <div class="row boxes justify-content-evenly">
            <div class="col-sm-8 my-auto">
                <div class="box p-3 my-auto border" id="error_box">
                    <div class="pt-5">
                        <h1>ERROR 413: Content Too Large</h1>
                        <p>Please submit a smaller MOL2-file.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
                

{% endblock %}