/* specifies width for all containers (header-middle part-footer), 
makes width responsive to diff resolutions*/
.container{
  min-width: 95%;
}

/*Background color and fonts for all webpages*/
body {
  background-color:#f8f9fa;
  font-family:Arial, Helvetica, sans-serif;

}

/*css for header height, color and header divider at bottom*/
#header {
  background-color: #dde5f7;
  border-bottom: 2px solid #9fb6e8;

  border-radius: 4px;
  height: 17vh;
}

/* Styles all header links ('a'-elements)*/
header a {
  color: #7F91B9;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

/* Changes background color and text color on mouse hover*/
header a:hover {
  background-color: #9fb6e8;
  color: white;
}

/* Gives active/current page blue color and changes text color*/
header a.active {
  background-color: #9fb6e8;
  color: white;
}

/* bg-color and height for both boxes*/
.boxes {
  background-color: #f1f4fb;
  height: 75vh;
}

/* css for box where user can upload files (left box)*/
#file_upload_box {
  border-radius: 4px;
  height: 90%;
  background-color: #f8f9fa;
  color: #7F91B9;
}

/* css for submit button*/
#submit_button {
  border-color: #9fb6e8;
  color: #9fb6e8;

}

#submit_button:hover {
  background-color: #9fb6e8;
  color: white;
}


/* css for box where user can give preferences (right box)*/
#preferences_box {
  border-radius: 4px;
  height: 90%;
  background-color: #f8f9fa;
  color: #7F91B9;
}

/* makes heading in both boxes (upload_files & preferences) bold*/
#files_heading {
  font-weight: bold;
}
#preferences_heading {
  font-weight: bold;
}

/* css for copyright box at the bottom of the page*/
#copyright{
  background-color: #9fb6e8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 8vh;
  
}
#copyright_text{
  height: 100%;
  text-align: center;
  color: white;
  line-height: 8vh;

}


