/* Background color and fonts for all webpages*/
body {
  background-color:#f8f9fa;
  font-family:Arial, Helvetica, sans-serif;

}

/* specifies width for all containers (header-middle part-footer), 
makes width responsive to diff resolutions*/
.container{
  min-width: 95%;
}

/*---------------------------HEADER------------------------------------------*/
/* css for header height, color and header divider at bottom*/
#header {
  background-color: #dde5f7;
  border-bottom: 2px solid #9fb6e8;
  border-radius: 4px;
  height: 17vh;
}

/* Styles all header links ('a'-elements)*/
header a {
  color: #7F91B9;
  padding: 20px;
  text-decoration: none;
  font-size: 1.125em;
  border-radius: 4px;
}

/* Changes background color and text color on mouse hover and on active state*/
header a:hover,
header a.active {
  background-color: #9fb6e8;
  color: white;
}

/*-----------------------CONTENT FOR INDEX.HTML-------------------------*/
/* bg-color and height for both boxes*/
.boxes {
  background-color: #f1f4fb;
  height: 75vh;
}

/* css for box where user can upload files (left box)*/
#file_upload_box {
  border-radius: 4px;
  height: 90%;
  background-color: #f8f9fa;
  color: #7F91B9;
}

/* css for box where user can give preferences (right box)*/
#preferences_box,
#file_upload_box {
  border-radius: 4px;
  height: 90%;
  background-color: #f8f9fa;
  color: #7F91B9;
}

#preferences_box {
  text-align: center;
}

.file_input {
  margin: 6%;
}

/* css for submit button*/
#submit_button {
  border-color: #9fb6e8;
  color: white;
  background-color: #9fb6e8;
  margin-top: 5vh;
}

/* css for when mouse hovers over submit_button*/
#submit_button:hover {
  background-color: white;
  color: #9fb6e8;
}

/* makes heading in both boxes (upload_files & preferences) bold*/
.files_heading,
.preferences_heading{
  font-weight: bold;
}

/* centers heading in upload_files box*/
.files_heading {
  text-align: center;
}

/* css for text input for file name*/
#name_file {
  border-color:#9fb6e8;
  border-radius: 4px;
  border-style: solid;
  width: 80%;
}

/* Ensures that style looks the same for screens with a height greater than 730px */
@media screen and (min-height: 730px) {
  .file_input {
    margin: 12%;
  }

  #file_upload_box,
  #preferences_box {
    font-size: 1.4em;
  }

  header a {
    font-size: 1.45em;
  }
}

/*-----------------------------------FOOTER------------------------------*/
/* css for copyright box at the bottom of the page*/
#copyright{
  background-color: #9fb6e8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 8vh; 
}

/* css for text in copyright box*/
#copyright_text{
  height: 100%;
  text-align: center;
  color: white;
  line-height: 8vh;
}
