/* Background color and fonts for all webpages*/
body {
  background-color:#f8f9fa;
  font-family:Arial, Helvetica, sans-serif;
}

/* Specifies width for all containers (header-middle part-footer), 
makes width responsive to diff resolutions*/
.container{
  min-width: 95%;
  background-color: #f1f4fb;
}

/* Styles all box elements across all templates*/
.box{
  border-radius: 15px;
  background-color: #f8f9fa;
  color: #7F91B9;
  text-align: center;
}

/* Styles all button elements across all templates*/
.btn{
  border-color: #9fb6e8;
  color: white;
  background-color: #9fb6e8;
  margin-top: auto;
  margin-bottom: auto;
}

/* css for when mouse hovers over submit_button*/
.btn:hover {
  background-color: white;
  color: #9fb6e8;
}

/* Styles the columns of table data (<td>)*/
td {
  background-color: #f8f9fa;
  border: 1px solid #9fb6e8;
  
}

/* Styles the odd rows of the table */
.table tbody tr:nth-child(odd) {
  background-color: #e3eafd;
  color: #7F91B9;
}

/* Styles the even rows of the table */
.table tbody tr:nth-child(even) {
  background-color: #f1f7fc;
  color: #7F91B9;
}

/* Styling for headings */
h1 {
  font-size: 1.4em;
  color: #6a7ca2;
  text-align: center;
}

h2 {
  font-size: 1.15em;
  color: #6a7ca2;
}




/*---------------------------HEADER------------------------------------------*/
/* css for header height, color and header divider at bottom*/
#header {
  background-color: #dde5f7;
  border-bottom: 2px solid #9fb6e8;
  border-radius: 4px;
  height: 17vh;
}

/* Styles all header links ('a'-elements)*/
header a,
header a.False {
  color: #7F91B9;
  padding: 20px;
  text-decoration: none;
  font-size: 1.125em;
  border-radius: 4px;
}

/* Changes background color and text color on mouse hover and on active state*/
header a:hover,
header a.True {
  background-color: #9fb6e8;
  color: white;
}

/* Moves the logo in the header to the left, to make sure its centered */
#biodock_logo{
  width: 100%;
  height: auto;
}

/*-----------------------CONTENT FOR INDEX.HTML-------------------------*/
/* Bg-color and height for both boxes*/
.boxes {
  height: 75vh;
}

.settings_box{
  border-radius: 15px;
  background-color: #f8f9fa;
  color: #7F91B9;
}

.file_input {
  margin: 6%;
}

/* css for text input for file name*/
#name_file {
  border-color:#9fb6e8;
  border-radius: 4px;
  border-style: solid;
  width: 80%;
}

/*-------------------------------CONTENT FOR HISTORY.HTML-----------------------*/


/*----------------------CONTENT FOR TEMP.HTML---------------------*/
/* Gives styling to the background of the page */
.download_container, .imgs_container{
  text-align: center;
}

/* Sets width for previous session-settings table*/
#settings_table{
  width:80%;
}

/* Styles the legend img*/
#legend{
  background-color: #f8f9fa;
  border-radius: 12px;
  width: 100%;
  height: auto;
}

/* Changes scale for pymol images */
.pymol_img{
  width: 80%;
  height: auto;
}

/* Gives styling to the pymol image rows */
.pymol_row{
  align-items: center;
  height: auto;
  border-radius: 15px;
  background-color: #f8f9fa;
  color: #7F91B9;
  text-align: center;
}

/*-------------------CONTENT FOR OUR_TEAM.HTML-------------------*/
/* Determines height for containers */
.team_text {
  font-size: 1.15em;
  height: 100vh;
}

/* Styling for all character logo's (height for yamila_logo 
is larger because the img itself is smaller)*/
#yamila_logo {
  height: 36%;
  width: auto;
}

#ramon_logo,
#stijn_logo {
  height: 35%;
  width: auto;
  padding-bottom: 3%;
  padding-top: 1%;
}

.gitlab_logo {
  width: 20%;
  height: auto;
  padding-bottom: 6%;
}


/*----------------------CONTENT FOR ABOUT.HTML-----------------------*/
/* Sets width/height for imgs*/
#docking_image,
#protein-lig_dok_example {
  width: 100%;
  height: auto;
}

/*-----------------------------------FOOTER------------------------------*/
/* css for copyright box at the bottom of the page*/
#copyright {
  background-color: #9fb6e8;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 1%;
}

/* css for text in copyright box*/
#copyright_text {
  color: white;
}
/*----------------------------ERROR_TEMPLATES-----------------------------*/
#error_box{
  height: 30vh;
  
}
/* Changes font size on big screens, to make the text bigger*/
@media screen and (min-height: 730px) {
  .container {
    font-size: 1.35em;

  }
  .team_text{
    height: 80vh;
  }
  .btn{
    font-size: 1.2em;
  }
  .slider{
    width: 40%;
    height: 100%;
  }
  .download_container,
  .imgs_container {
    font-size: 1.2em;
    }
  .file_input {
    margin: 12%;
  }

  header a {
    font-size: 1.45em;
  }
}
