{% extends "base.html" %}

{% block body %}


    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-sm-5 box mt-5 p-3 border">
                <h1>How to use</h1>
                <p>
                    To use this website you need to submit a PDB-file of a protein and a MOL2-file of a ligand.
                    You can obtain the protein file by downloading it from the <a href="https://www.rcsb.org/">Protein Data Bank</a> 
                    as PDB-file and the ligand MOL2-file can be obtained from the <a href="https://zinc.docking.org/">ZINC database</a>.
                    What each of the files should look like is described in detail in here:
                </p>
                        <ul class="file_info">
                            <li><a href="https://www.biostat.jhsph.edu/~iruczins/teaching/260.655/links/pdbformat.pdf">PDB</a></li>
                            <li><a href="https://www.structbio.vanderbilt.edu/archives/amber-archive/2007/att-1568/01-mol2_2pg_113.pdf">MOL2</a><br></li>
                        </ul>
                <p>
                    <br>You can specify the <u>number of binding poses</u> and the <u>RMSD-cutoff</u>.<br><br>
                    The <b>number of binding poses</b> is the number of times the program attempts to dock the ligand onto the protein, 
                    so it's the number of iterations. If you lower the number, the webtool
                    will run faster but the output will show less docking poses. The number of binding poses is limited to a maximum of 20, because any number higher
                    will take too long and is in a vast majority of cases unnecessary.<br><br>
                    <b>RMSD</b> or Root Mean Square Division is the measure of average distance between atoms of 
                    molecules and atoms of ligand configurations.
                    It is measured in Ångström (Å). Decreasing this value will give higher accuracy but the docking process 
                    will take longer, higher RMSD-values will bundle similar docking poses together into 1, which gives lower accuracy and 
                    a faster docking process.<br><br>
                    As output you will get a .dok-file that houses all of the calculated binding poses and images of all found binding poses.
                    The images will look something like this:<br><br>
                </p>
                <img src="../static/img/PLIP_image.png" alt="protein-lig_dok_example" id="protein-lig_dok_example">
                
            </div>
        
            <div class="col-sm-5">
                <div class="box mt-5 p-3 border">
                    <h1>What does it do?</h1>
                    <p>
                        The website takes your input (PDB- and MOL2-file) and runs it through an algorithm to simplify your file (<b>LePro</b>).
                        Next it runs the result from Lepro through a program called <b>LeDock</b>, which contains an AI trained to dock ligands onto proteins, all found binding poses get saved and get a score assigned. 
                        Finally, the outcomes are put in a .dok-file in decreasing order based on score and this webtool visualises this data into images using <b>PLIP</b> (Protein-Ligand Interaction Profiler).
                    </p>
                    <div class="mt-4 mb-3">
                        <img src="../static/img/protein-ligand-docking.png" alt="Docking_image" id="docking_image">
                    </div>
                    
                </div>
                
                <div class="box mt-5 p-3 border">
                    <h1>The history page</h1>
                    <p>
                        The history page is to retrace your steps. Every time you run the webtool the output gets saved to the history page.
                        So if you accidentally delete one of the output files you can download it once again there.
                    </p>
                </div>

                <div class="box border mt-5 p-3">
                    <h1>Images explained</h1>
                    <p>
                        The website generates images of the ligand docked onto the protein. The molecules and interactions are 
                        all represented by different colors and are explained in a legend after using the webtool. <br><br>
                        The imgs all come with a <b>score</b> based off of how likely that certain docking pose is. 
                        The lower the score, the more energy (kcal/mol) it gives and the more likely it is. 
                        The <b>cluster number</b> stands for the docking pose and it consists of at minimum 1 <b>pose</b>. 
                        With a high RMSD value poses that are similar get clustered together into one docking pose. <br>
                    </p>
                        <ul>
                            <li><b>Example:</b> Cluster 1 of poses: 5<br></li>
                        </ul>
                    <p>
                        The example respresents the first and most likely docking pose, it consists of the average result of the 5 poses combined together.
                    </p>
                </div>
            </div>


            <div class="row mt-5 pl-3">
                <h2>Sources</h2>
                <ol>
                    <li>Wikipedia contributors. (2023, 11 december). <i>Root-mean-square deviation of atomic positions.</i> (2023, 11 december). <a href="https://en.wikipedia.org/wiki/Root-mean-square_deviation_of_atomic_positions">https://en.wikipedia.org/wiki/Root-mean-square_deviation_of_atomic_positions</a></li>
                    <li>Salentin, S., Schreiber, S., Haupt, V. J., Adasme, M. F., & Schroeder, M. (2015). <i>PLIP: fully automated protein–ligand interaction profiler.</i> <a href="https://www.semanticscholar.org/paper/PLIP%3A-fully-automated-protein%E2%80%93ligand-interaction-Salentin-Schreiber/9fb2bf7b0fb083b764794b82486189b314e6e9ab/figure/0"> https://www.semanticscholar.org/paper/PLIP%3A-fully-automated-protein%E2%80%93ligand-interaction-Salentin-Schreiber/9fb2bf7b0fb083b764794b82486189b314e6e9ab/figure/0</a></li> 
                    <li>Wikipedia contributors. (2024, februari 5). <i>Docking (molecular).</i><a href = https://en.wikipedia.org/wiki/Docking_%28molecular%29>https://en.wikipedia.org/wiki/Docking_%28molecular%29</a></li>
                </ol>
            </div>
        </div>
    </div>


{% endblock %}