{% extends "base.html" %}

{% block body %}

    <!-- Container for the elements between header and footer -->
    <div class="container">

        <div class="row history_containers">

            <div class="row justify-content-center">
                <div class="col-sm-6 history_explanation mt-5 p-3 border">
                <p>This is the history page. <br>
                    This page is used to store the last 5 times you used the tool. <br>
                    You can clear the history by pressing the "clear me" button. <br>
                </p>
                <!-- Button to clear the history -->
                <button type="button" class="btn btn-primary pymol_download_btn">Clear me</button>
                </div>
            </div>

            <div class="col-sm-7 mx-auto mt-5 mb-5 info_column">
                <table class="table">
                    {% for file in files %}
                    <tr>
                        <form action="" method="post">
                            <td>
                                <button type="submit" name='{{ file }}'>Open</button>
                            </td>
                        </form>
                      <td>Title: {{ file }}, Path: /website_biodock/templates/history/{{ file }} <br></td>
                    </tr>
                    {% endfor %}
                  </table>
            </div>
        </div>
    </div>

{% endblock %}
