{% extends "base.html" %}

{% block body %}

    <!-- Container for the elements between header and footer -->
    <div class="container">

        <div class="row">
            <div class="row justify-content-center">
                <div class="col-sm-6 box mt-5 p-3 border">
                <p>This is the history page. <br>
                    This page is used to store the files you get from the tool. <br>
                    You can clear the history by pressing the "clear me" button. <br>
                </p>
                <!-- Button to clear the history -->
                <form method="post">
                    <button type="submit" name="user_input" value="clear_me" class="btn btn-primary">Clear me</button>
                </form>
                </div>
            </div>

            <div class="col-sm-7 mt-5 mb-5 mx-auto">
                <table class="table">
                    {% for file in files %}
                    <tr>
                        <td>
                            <form method="post">
                                <button type="submit" name='user_input' value="{{ file }}" class="btn btn-primary">Open</button>
                            </form>
                        </td>
                      <td>Title: {{ file }}, Settings: {{ settings }} <br></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
