{% extends "base.html" %}

{% block body %}
<!-- HTML containing the container, in which the 2 boxes (files_upload and settings) on the page lie -->
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            <div class="row boxes justify-content-evenly">
                <!-- HTML containing the file_upload_box, in which the user is asked to upload a PDB-file and MOL2-file -->
                <div class="col-sm-6 mt-5">
                    <div class="p-3 border" id="file_upload_box">

                            <!-- heading for upload_files box -->
                            <h1 class="files_heading">Upload files:</h1>

                            <!-- file input where user is asked to upload a PDB-file. Only .pdb files are accepted
                            and the input is marked as 'required', not allowing user to submit before choosing a file-->
                            <div class="col-12 file_input">
                                <label for="pdb_file">Choose PDB-file:</label><br><br>
                                <input type="file" id="pdb_file" name="pdb_file" accept=".pdb" required><br><br>
                            </div>

                            <!-- file input where user is asked to upload a MOL2-file. Only .mol2 files are accepted
                            and the input is marked as 'required', not allowing user to submit before choosing a file-->
                            <div class="col-12 file_input">
                                <label for="mol2_file">Choose MOL2-file:</label><br><br>
                                <input type="file" id="mol2_file" name="mol2_file" accept=".mol2" required><br><br>
                            </div>

                    </div>
                </div>

                    <!-- HTML containing the settings_box, in which the user can select the settings -->
                    <div class="col-sm-4 my-auto"><div class="p-3 border" id="settings_box"> 
                        <div class="row">

                            <!-- heading for settings box -->
                            <h1>Settings:</h1>
                            
                            <!-- slider-option where the user can specify the number of docking poses (uses 
                                javascript to display numbers)-->
                            <div class="col-12 mt-3 mb-3">
                                <div class="slide_container">
                                    <p>No. of docking poses: <span id="dock_pose_output"></span></p>
                                    <input type="range" min="1" max="20" value="1" class="slider" id="dock_pose_input" name="dock_slider"> 
                                </div>
                            </div>

                            <!-- slider-option where the user can specify the RMSD-cutoff (uses 
                                javascript to display numbers)-->
                            <div class="col-12">
                                <div class="slide_container">
                                    <p>RMSD-cutoff: <span id="RMSD_output"></span>Å</p>
                                    <input type="range" min="0.5" max="4.0" value="1" step="0.1" class="slider" id="RMSD_input" name="RMSD_slider"> 
                                </div>
                            </div>

                            <!-- text input where user can specify a name for the session in which the 
                                docking images will be generated. The name is used in the ' history'-page where the user can 
                                revisit old sessions-->
                            <div class="col-12">
                                <p>Save file as:</p>
                                <label for="name_file"></label>
                                <input type="text" id="name_file" name="name_file" minlength="5" maxlength="50" required>
                            </div>
                        </div>
                    </div>

                    <!-- submit button that is used to send all the users data to the server, can only be pressed once all required 
                        fields (2 file inputs and 1 text input) have been fulfilled -->
                    <div class="col-12 d-grid">
                        <input type="submit" class="btn btn-outline-primary btn-block" id="submit_button" value="Submit">
                    </div>

                </div>
            </div>
        </form>
    </div>
{% endblock %}