{% extends "base.html" %}

{% block body %}


    <!-- Container for the stuff between header and footer -->
    <div class="container">
        <div class="row">

            <div class="box col-sm-2 mx-auto pt-1 mt-3 border">
                <h1>The Team</h1>
            </div>

        </div>

        <div class="row justify-content-evenly">
    
            <div class="box col-sm-3 mt-5 mb-5 border team_text">
                <img src="../static/img/ramon_logo.png" id="ramon_logo" alt="logo_ramon">
                <p>
                    Hello, I'm Ramon. Also a member of the Biodock Visualiser team. I'm in my first year of bio-informatics, with some 
                    background in biology. I'm a big fan of programming. And I'm excited to show off our biggest project yet. A showcase 
                    of multiple tools, used for protein docking, combined with creating a website. I'm excited to work with the team, and 
                    deliver a beautiful website.
                </p>
                <div class="mt-5 pt-5">
                    <a href = 'https://git.bioinf.nl/rreilman'><img src="../static/img/gitlab_logo.png" class="gitlab_logo" alt="gitlab_logo"></a>
                </div>
            </div>

            <div class="box col-sm-3 mt-5 mb-5 border team_text">
                <img src="../static/img/yamila_logo.png" id="yamila_logo" alt="logo_yamila">
                <p>
                    Hi! I'm Yamila, a member of the BioDock Visualiser team. 
                    I'm a first year bio-informatics student, with mostly a background in the biomedical field, but also fond of programming!
                    I'm happy I've gotten to experience the development of our webtool, 
                    which has been very rewarding to see! I will aiming to deliver a well-polished webtool with my team! :)
                </p>
                <div class="mt-5 pt-5">
                    <a href = 'https://git.bioinf.nl/ytimmer2'><img src="../static/img/gitlab_logo.png" class="gitlab_logo" alt="gitlab_logo"></a>
                </div>
                
            </div>

            <div class="box col-sm-3 mt-5 mb-5 border team_text">
                <img src="../static/img/stijn_logo.png" id="stijn_logo" alt="logo_stijn">
                <p>
                    Hello, I am Stijn Vermeulen. I am a student at Hanzehogeschool Groningen in Bioinformatics and I will try to take concepts 
                    I learn and twist them into something fun. Programming is pretty fun in itself, but it is way more fun to just take what you 
                    already know and twist it into something original. So I hope that this project will become something fun and unique as well.
                </p>
                <div class="mt-5 pt-5">
                    <a href = 'https://git.bioinf.nl/svermeulen'><img src="../static/img/gitlab_logo.png" class="gitlab_logo" alt="gitlab_logo"></a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
