{% extends "base.html" %}

{% block body %}

    <!-- Legend containing explanation for colors/elements in generated imgs-->
    <div class="container">
        <div class="row download_container justify-content-evenly">
            <div class="col-sm-4">
                <img src="../../../static/img/Legenda_website-ai-brush-removebg-50fl65xo.png" class="border mt-5 p-3" id="legend" alt="Legend of images">
            </div>

            <!-- Download button for generated .dok file during earlier session-->
            <div class="col-sm-4 mt-5">
                <div class="box border p-3 mb-5">
                    <p>Press the button below to download the .dok file.</p>
                    <form method="post">
                        <button type="submit" name="file_download" class="btn" value="{{dok_file}}">Download file</button>
                    </form>
                </div>
               
                <!-- Displays used settings for earlier session -->
                <div class="box col p-3 border">
                    <p><b>Settings used for {{ file_wanted }}:</b></p>
                    <table class="table mx-auto" id="settings_table">
                        <tr>
                            <td>PDB-file:</td>
                            <td><a href="{{ pdb_file }}">Here</a></td>
                        </tr>

                         <!-- for loop for the mol2 files because list and technically you can have multiple mol2 files -->
                        {% for mol2_file in mol2_files %}

                            <tr>
                                <td>Mol2-file:</td>
                                <td><a href="{{ mol2_file }}">Here</a></td>
                            </tr>

                        {% endfor %}
                        <tr>
                            <td>No. of docking poses:</td>
                            <td>{{ dock_slider }}</td>
                        </tr>
                        <tr>
                            <td>RMSD-cutoff:</td>
                            <td>{{ RMSD_slider }} Å</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <!-- loops through all the image/score pairs in temp_dict-->
        {% for img, score in img_score_dict.items() %}

            <!-- Starts a new row if the current index is an even number -->
            {% if loop.index0 % 2 == 0 %}
                <div class="row justify-content-evenly">
            {% endif %}
    
            <!-- Image and score display -->
            <div class="box col-sm-4 mt-5 mb-4 border">
                <img class="pymol_img" src="../../../static/history/{{ file_wanted }}/{{ img }}" alt="">
                <p>{{ img }}<br>{{ score }}</p>
                
                <!-- Download button for image -->
                <form method="post">
                    <button type="submit" name="Download_picture" class="btn btn-primary pymol_download_btn mb-4" value="{{ img }}">Download image</button>
                </form>
            </div>
    
            <!-- Close row if two imgs are displayed or if its the final img -->
            {% if loop.index0 % 2 != 0 or loop.last %}

                </div>

            {% endif %}
        {% endfor %}

    </div>

{% endblock %}
