{% extends "base.html" %}

{% block body %}

    <!-- Download button + explanation -->
    <div class="container">
        <div class="row download_container justify-content-center">
            <div class="col-sm-4 mt-5 border p-3" id="download_button">
                <p>Press the button below to download the .dok file.</p>
                <form method="post">
                    <button type="submit" name="file_download" class="btn btn-primary pymol_download_btn" value="{{dok_file}}">Download file</button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center download_container">
            <div class="col-sm-4">
                <img src="../../../static/img/Legenda_website-ai-brush-removebg-50fl65xo.png" class="border m-3 p-3" id="legend" alt="Legend of images">
            </div>
        </div>
    </div>


    <!-- for loop to loop through all the images -->
    {% for foto in fotos %}
    <div class="container imgs_container">
        <!-- if statement to check if the list contains 1 or 2 images -->
        {% if foto|length == 1 %}
            <!-- display for image -->
            <div class="row justify-content-evenly">
                <div class="col-sm-4 mt-5 mb-4 border pymol_row">
                    <img class="pymol_foto" src="../../../static/history/{{ file_wanted }}/{{ foto[0] }}" alt="">
                    <!-- Do not forget to changes this line later -->
                    <p>{{ foto[0] }}<br> Score: -2.84 kcal/mol</p>
                    <!-- Download button for image -->
                    <form method="post">
                        <button type="submit" name="Download_picture" class="btn btn-primary pymol_download_btn mb-4" value="{{ foto[0] }}">Download image</button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="row justify-content-evenly">
                <!-- image display -->
                <div class="col-sm-4 mt-5 mb-4 border pymol_row">
                    <img class="pymol_foto" src="../../../static/history/{{ file_wanted }}/{{ foto[0] }}" alt="">
                    <!-- Do not forget to changes this line later -->
                    <p>{{ foto[0] }}<br> Score: -2.84 kcal/mol</p>
                    <!-- Download button image -->
                    <form method="post">
                        <button type="submit" name="Download_picture" class="btn btn-primary pymol_download_btn mb-4" value="{{ foto[0] }}">Download image</button>
                    </form>
                </div>
                <!-- image display -->
                <div class="col-sm-4 mt-5 mb-4 border pymol_row">
                    <img class="pymol_foto" src="../../../static/history/{{ file_wanted }}/{{ foto[1] }}" alt="">
                    <!-- Do not forget to changes this line later -->
                    <p>{{ foto[1] }}<br> Score: -2.82 kcal/mol</p>
                    <!-- Download button image -->
                    <form method="post">
                        <button type="submit" name="Download_picture" class="btn btn-primary pymol_download_btn mb-4" value="{{ foto[1] }}">Download image</button>
                    </form>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
