{% extends "base.html" %}

{% block body %}

    <!-- Download button + explanation -->
    <div class="container">
        <div class="row download_container justify-content-center">
            <div class="col-sm-4 mt-5 border p-3" id="download_button">
                <p>Press the button below to download the .dok file.</p>
                <button type="button" class="btn btn-primary pymol_download_btn">Download file</button>
            </div>
        </div>
    </div>


    <!-- Creates containers which store the previously generated PyMOL images -->
    <div class="container imgs_container">
        <div class="row justify-content-evenly">
            <div class="col-sm-4 mt-5 mb-4 border pymol_row">
                <img class="pymol_foto" src="imgs/PRO_PROTEIN_PeptideChain1.png" alt="">
                <p>Cluster   1 of Poses:  1 <br> Score: -2.84 kcal/mol</p>
                <button type="button" class="btn btn-primary pymol_download_btn mb-4" value="Download">Download image</button>
            </div>
            <div class="col-sm-4 mt-5 mb-4 border pymol_row">
                <img class="pymol_foto" src="imgs/PRO_PROTEIN_PeptideChain2.png" alt="">
                <p>Cluster   2 of Poses:  1 <br> Score: -2.82 kcal/mol</p>
                <button type="button" class="btn btn-primary pymol_download_btn mb-4" value="Download">Download image</button>
            </div>
        </div>
    </div>

{% endblock %}
