{% extends "base.html" %}

{% block body %}

    <!-- Download button + explanation -->
    <div class="container">
        <div class="row download_container justify-content-center">
            <div class="col-sm-4 mt-5 border p-3" id="download_button">
                <p>Press the button below to download the .dok file.</p>
                <button type="button" name="file_download" class="btn btn-primary pymol_download_btn" value="Download">Download file</button>
            </div>
        </div>
        <div class="row justify-content-center download_container">
            <div class="col-sm-4">
                <img src="../../../static/img/Legenda_website-ai-brush-removebg-50fl65xo.png" class="border m-3 p-3" id="legend" alt="Legend of images">
            </div>
        </div>
    </div>


    <!-- Creates containers which store the previously generated PyMOL images -->
    {% for foto in fotos %}
    <div class="container imgs_container">
        {% if foto|length == 1 %}
            <div class="row justify-content-evenly">
                <div class="col-sm-4 mt-5 mb-4 border pymol_row">
                    <img class="pymol_foto" src="../../../static/history/{{ file_wanted }}/{{ foto[0] }}" alt="">
                    <p>{{ foto[0] }}<br> Score: -2.84 kcal/mol</p>
                    <button type="button" name="" class="btn btn-primary pymol_download_btn mb-4" value="Download">Download image</button>
                </div>
            </div>
        {% else %}
            <div class="row justify-content-evenly">
                <div class="col-sm-4 mt-5 mb-4 border pymol_row">
                    <img class="pymol_foto" src="../../../static/history/{{ file_wanted }}/{{ foto[0] }}" alt="">
                    <p>{{ foto[0] }}<br> Score: -2.84 kcal/mol</p>
                    <button type="button" name="" class="btn btn-primary pymol_download_btn mb-4" value="Download">Download image</button>
                </div>
                <div class="col-sm-4 mt-5 mb-4 border pymol_row">
                    <img class="pymol_foto" src="../../../static/history/{{ file_wanted }}/{{ foto[1] }}" alt="">
                    <p>{{ foto[1] }}<br> Score: -2.82 kcal/mol</p>
                    <button type="button" class="btn btn-primary pymol_download_btn mb-4" value="Download">Download image</button>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>


{% endblock %}
